[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
chromadb = "*"
streamlit = "*"
streamlit-chat = "*"
pypdf = "*"
fastembed = "*"

[dev-packages]

[requires]
python_version = "3.10"
